# Ambiente virtual
.venv/

# Jupyter Notebooks checkpoints
.ipynb_checkpoints/

# Arquivos temporários do Python
__pycache__/
*.py[cod]
*$py.class

# Logs e arquivos temporários
*.log
*.tmp
*.bak

# Dados brutos (NUNCA sobe)
data/raw/

# Dados processados (são regeneráveis, não sobem)
data/processed/

# Dados intermediários temporários (permite o DuckDB subir, mas ignora lixos temporários)
data/interim/*.tmp
data/interim/*.bak

# Arquivos de cache
*.sqlite3
*.db
*.h5

# Arquivos de configuração de IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Arquivos do sistema
.DS_Store
Thumbs.db

# Relatórios gerados (opcional)
reports/figures/
reports/documents/

# Ambiente JupyterLab
lab-workspace.json
